---
import Layout from "../layouts/Layout.astro"
import data from "../data/data.json"
import Work from "../components/Work.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Education from "../components/Education.astro"
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Clubs from "../components/Clubs.astro";
import Achievements from"../components/Achievements.jsx";
import Contact from "../components/Contact.astro";
---

<Layout>
  <main class="flex items-center justify-center flex-col min-h-[100dvh] space-y-10 px-6 divide-slate-950 border [&>*]:border">
      <section id="hero">
         <Hero name={data.name}  description={data.description} avatarUrl={data.avatarUrl}  />
      </section>
      <section id="about" class="w-full">
        <About summary={data.summary} />
      </section>
         <section id="work" class="w-full">
            <Work work={data.work}/>
        </section>
        <section id="education" class="w-full">
        <Education education={data.education}/>
        </section>
        <section id="skills" class="w-full">
          <Skills skills={data.skills}/>
        </section>
        <section id="projects " class="w-full">
          <Projects/>
        </section>
        <section id="positions" class="w-full">
          <Clubs/>
        </section>
        <section id="achievements" class="w-full">
          <Achievements achievements={data.achievements} client:load/>
        </section>
         <section id="contact" class="w-full">
          <Contact/>
        </section> 

  </main>
</Layout>